{% extends 'application/basic.html' %}
		<title>{% block title %}Incident{% endblock title %}</title>
		{% block body %}
        <div class="page-wrapper">
            
            <div class="container-fluid"> 
                <div class="row" id="helloInce">
                    <div class="col-md-12">
                        <h3>hello {{request.user}}</h3>
                        <p>
                            One can log in and report an incident and view saved incident. <br>
                            Admin can view the forms.
                        </p>
                    </div>
                </div> 
                
            </div>
            {% endblock body %}
            